

body{
    background-color: #fafafa;
}


a:hover{
    text-decoration: none;
}

h1,h2,h3,h4,h5{
    font-weight: 200;
}



.custom-nav{
    background-color: #e71721;
    background: linear-gradient(32deg, rgb(231, 23, 33), rgb(0, 72, 131));
    background: -webkit-linear-gradient(32deg, rgb(231, 23, 33), rgb(0, 72, 131));
    border: none;
    color: #fff;
    border-radius: 0;
    height: 60px;
}



.navbar-default .navbar-nav>li>a{
    /*color: #fff;*/
    font-size: 18px;
    line-height: 30px;
}



.navbar-brand{
    padding: 5px 10px;
}

.navbar-brand img{
    background-color: #fff;
    border-radius: 2px;
}

.custom-nav p{
    line-height: 60px;
}



.card{
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eee;
    margin: 40px 0;
    text-decoration: none;
}

a.card:hover{
    text-decoration: none;
}

.card-caption{
    text-align: center;
}


